<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
      var lang_string={}
      lang_string["h1_title")="Estyle's"
      lang_string["link_home")="Home"
      lang_string["link_2048")="2048 Game EX"
      lang_string["link_training")="Training Program"
      lang_string["link_resume")="Resume"
      if(window.navigator.language!=null){
        if(["zh","zh-cn"].indexOf(window.navigator.language.toLowerCase())!=-1){
          lang_string["link_home")="首页"
          lang_string["link_2048")="2048游戏扩展版"
          lang_string["link_training")="培训项目"
          lang_string["link_resume")="简历"
        }
      window.addEventListener("load",function(event){
                      alert()
        for(var idx in lang_string){
          var html_obj=document.getElementById(idx)
          if(html_obj!=null&&html_obj.textContent!=null){
            html_obj.textContent=lang_string[idx]
          }
        }
      }
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header" id="h1_title">Estyle's</h1>
      <ul>
        <li><a class="buttons github" href="/" target="_top" id="link_home">Home</a></li>
        <li><a class="buttons github" href="/2048.html" target="_top" id="link_2048">2048 Game EX</a></li>
        <li><a class="buttons github" href="/training.html" target="_top" id="link_training">Training Program</a></li>
        <li><a class="buttons github" href="/resume.html" target="_top" id="link_resume">Resume</a></li>
      </ul>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
